@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-sm text-foreground;
  }
}

@layer base {
  :root {
    --primary-100: 202 100% 95%;
    --primary-200: 204 100% 82%;
    --primary-300: 206 100% 74%;
    --primary-400: 208 100% 66%;
    --primary-500: 210 100% 58%;
    --primary-600: 212 100% 48%;
    --primary-700: 214 100% 40%;
    --primary-800: 216 100% 33%;
    --primary-900: 218 100% 25%;
    --primary-1000: 220 100% 17%;
    --primary-hover: var(--primary-700);

    --ds-gray-100: 0, 0%, 95%;
    --ds-gray-200: 0, 0%, 92%;
    --ds-gray-300: 0, 0%, 90%;
    --ds-gray-400: 0, 0%, 92%;
    --ds-gray-500: 0, 0%, 79%;
    --ds-gray-600: 0, 0%, 66%;
    --ds-gray-700: 0, 0%, 56%;
    --ds-gray-800: 0, 0%, 49%;
    --ds-gray-900: 0, 0%, 40%;
    --ds-gray-1000: 0, 0%, 9%;
    --ds-blue-100: oklch(97.32% 0.0141 251.56);
    --ds-blue-200: oklch(96.29% 0.0195 250.59);
    --ds-blue-300: oklch(94.58% 0.0293 249.84870859673202);
    --ds-blue-400: oklch(91.58% 0.0473 245.11621922481282);
    --ds-blue-500: oklch(82.75% 0.0979 248.48);
    --ds-blue-600: oklch(73.08% 0.1583 248.133320980386);
    --ds-blue-700: oklch(57.61% 0.2508 258.23);
    --ds-blue-800: oklch(51.51% 0.2399 257.85);
    --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
    --ds-blue-1000: oklch(26.67% 0.1099 254.34);
    --ds-red-100: oklch(96.5% 0.0223 13.09);
    --ds-red-200: oklch(95.41% 0.0299 14.252646656611997);
    --ds-red-300: oklch(94.33% 0.0369 15.011509923860523);
    --ds-red-400: oklch(91.51% 0.0471 19.8);
    --ds-red-500: oklch(84.47% 0.1018 17.71);
    --ds-red-600: oklch(71.12% 0.1881 21.22);
    --ds-red-700: oklch(62.56% 0.2524 23.03);
    --ds-red-800: oklch(58.19% 0.2482 25.15);
    --ds-red-900: oklch(54.99% 0.232 25.29);
    --ds-red-1000: oklch(24.8% 0.1041 18.86);

    --accents-500: 0 0% 40%;

    --gray-100: 0 0% 95%;
    --gray-700: 0 0% 56%;

    --background-200: 0 0% 98%;
    --background: 0 0% 100%;
    --background-hover: 0 0% 95%;
    --background-disabled: var(--gray-100);

    --foreground: 0 0% 9%;

    --secondary: var(--accents-500);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    /* --primary-foreground: 0 0% 98%; */
    --primary-foreground: flush-orange-600;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --error: 358 70% 52%;
    --error-bg: 358 70% 52%;
    --error-active: 358 73% 28%;
    --error-hover: 358 66% 48%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --warning: 40 96% 53%;
    --warning-bg: 50 100% 95%;
    --warning-border: 46 100% 78%;

    --border: hsla(0 0% 0% / 0.08);
    --border-hover: hsla(0 0% 0% / 0.12);

    --ring: 0 0% 3.9%;
    --radius: 0.375rem;
    --placeholder: var(--gray-700);

    --link: 14 79% 62%;
    --input: 0 0% 89.8%;

    --text-description: 0 0% 0% / 45%;
  }

  .dark {
    --primary-100: 216 100% 5%;
    --primary-200: 204 90% 80%;
    --primary-300: 206 89% 72%;
    --primary-400: 208 86% 63%;
    --primary-500: 210 79% 52%;
    --primary-600: 212 100% 41%;
    --primary-700: 212 100% 31%;
    --primary-800: 212 100% 21%;
    --primary-900: 212 100% 14%;
    --primary-950: 214 100% 10%;
    --primary-hover: var(--primary-500);

    --ds-gray-100: 0, 0%, 10%;
    --ds-gray-200: 0, 0%, 12%;
    --ds-gray-300: 0, 0%, 16%;
    --ds-gray-400: 0, 0%, 18%;
    --ds-gray-500: 0, 0%, 27%;
    --ds-gray-600: 0, 0%, 53%;
    --ds-gray-700: 0, 0%, 56%;
    --ds-gray-800: 0, 0%, 49%;
    --ds-gray-900: 0, 0%, 63%;
    --ds-gray-1000: 0, 0%, 93%;
    --ds-blue-100: oklch(22.17% 0.069 259.89);
    --ds-blue-200: oklch(25.45% 0.0811 255.8);
    --ds-blue-300: oklch(30.86% 0.1022 255.21);
    --ds-blue-400: oklch(34.1% 0.121 254.74);
    --ds-blue-500: oklch(38.5% 0.1403 254.4);
    --ds-blue-600: oklch(64.94% 0.1982 251.8131841760864);
    --ds-blue-700: oklch(57.61% 0.2321 258.23);
    --ds-blue-800: oklch(51.51% 0.2307 257.85);
    --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
    --ds-blue-1000: oklch(96.75% 0.0179 242.4234217368056);
    --ds-red-100: oklch(22.1% 0.0657 15.11);
    --ds-red-200: oklch(25.93% 0.0834 19.02);
    --ds-red-300: oklch(31.47% 0.1105 20.96);
    --ds-red-400: oklch(35.27% 0.1273 21.23);
    --ds-red-500: oklch(40.68% 0.1479 23.16);
    --ds-red-600: oklch(62.56% 0.2277 23.03);
    --ds-red-700: oklch(62.56% 0.2234 23.03);
    --ds-red-800: oklch(58.01% 0.227 25.12);
    --ds-red-900: oklch(69.96% 0.2136 22.03);
    --ds-red-1000: oklch(95.6% 0.0293 6.61);

    --accents-500: 0 0% 53%;

    --gray-100: 0 0% 10%;
    --gray-700: 0 0% 56%;

    --background-200: 0 0% 0%;
    --background: 0 0% 4%;
    --background-hover: 0 0% 12%;

    --foreground: 0 0% 98%;

    --secondary: var(--accents-500);

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --error: 358 69% 52%;
    --error-active: 5 100% 82%;
    --error-hover: 358 100% 69%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: hsla(0 0% 100% / 0.14);
    --border-hover: hsla(0 0% 100% / 0.17);

    /* --border: 0 0% 89.8%; */
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --text-description: 0 0% 100% / 45%;
  }
}
