@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-base;
  }

  .image-effect-zoom-with-meta {
    @apply relative;
  }
  .image-effect-zoom-with-meta .meta {
    @apply absolute top-0 flex flex-col items-center justify-center w-full h-full hidden;
  }
  .image-effect-zoom-with-meta:hover .meta {
    @apply flex bg-gray-900 bg-opacity-50;
  }
  .image-effect-zoom-with-meta:hover img {
    @apply transform scale-105;
  }
  .image-effect-zoom-with-meta .meta-title {
    @apply text-white font-bold;
  }
  .image-effect-zoom-with-meta svg {
    @apply h-7 text-white;
  }

  .nav {
    @apply z-50 fixed top-0 right-10 md:left-0 text-white font-bold w-full;
  }
  .nav ul {
    @apply relative md:static top-14 w-60 bg-gray-800 p-4 space-y-5 md:flex items-center justify-center md:w-full md:space-y-0 md:space-x-5 md:bg-transparent text-sm;
  }
  .nav ul li,
  a {
    @apply cursor-pointer hover:text-red-500;
  }
  .active {
    @apply text-red-500;
  }
  .btn-icon {
    @apply text-white p-1 rounded-sm inline-flex items-center justify-center;
  }
  .btn-icon svg {
    @apply h-5;
  }
  .icon {
    @apply inline-flex items-center justify-center p-2 h-10 w-10 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }
  .icon svg {
    @apply h-5;
  }
  .button-login-with {
    @apply flex items-center justify-center font-semibold w-80 rounded-lg border border-gray-300 p-3 hover:bg-gray-100 text-gray-900;
  }
  .button-login-with svg {
    @apply h-7 mr-5;
  }

  .sidebar-item {
    @apply flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-200 cursor-pointer active:border-b-2 active:border-blue-500;
  }
  .sidebar-item svg {
    @apply h-7;
  }

  .form-item {
    @apply relative border border-gray-300 bg-white rounded h-auto px-3 pt-5 pb-2 focus-within:border-gray-600 transition-border duration-200 ease-in-out;
  }
  .form-item label {
    @apply absolute top-0 left-3 text-sm text-gray-500;
  }
  .form-item input,
  .form-item textarea {
    @apply text-base appearance-none w-full outline-none border-none shadow-none;
  }
  .form-item input + label,
  .form-item textarea + label {
    @apply top-4 text-base cursor-text transition-all duration-200 ease-out;
  }
  .form-item input:focus + label,
  .form-item textarea:focus + label,
  .form-item input:active + label,
  .form-item textarea:active + label,
  .form-item input.filled + label,
  .form-item input.filled + label {
    @apply text-sm top-0;
  }
  .ant-form-item-has-error .form-item {
    @apply border-[#ff4d4f];
  }
  .ant-form-item-has-error .form-item label {
    @apply text-[#ff4d4f];
  }
  /*  */
  /* App */
  /*  */
  @import "app.css";
}
/*  */
/* Custom Ant Design */
/*  */
svg {
  vertical-align: initial;
}
.ant-table-thead > tr > th {
  font-weight: bold;
}
.ant-input:focus,
.ant-form-item-has-error :not(.ant-input-disabled).ant-input:focus {
  box-shadow: none;
}
